@background-color: #fff;
@header-background-color: #252a2e;
@text-color: #252a2e;
@deployment-list-separation-line-color: #e2e4e8;

html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: @background-color;
  color: @text-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  > header {
    background-color: @header-background-color;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 55px;
    color: @background-color;
    overflow: hidden;
    padding: 0 1rem 0 1rem;
    line-height: 55px;
  }

  > main {
    padding: 1rem;
    flex-grow: 1;

    > ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        padding: 0.5rem;
        line-height: 2rem;
        border-bottom: solid 1px @deployment-list-separation-line-color;
        &:last-child {
          border-bottom: none;
        }

        > div.deployment {
          position: relative;
          padding: 0 0 0 40px;
          > img {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 16px;
            background-color: #eee;
          }

          > time {
            font-size: 0.8rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

