html {

  @background-color: #eee;
  @text-color: #444;
  @key-color: #9e87fb;

  width: 100%;

  > body {
    background-color: @background-color;
    width: 100%;
    font-family: Arial;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 0;

    > input#history_picker {
      margin: auto;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0;
    padding: 0;
  }

  div.deployment {
    flex-basis: 10rem;
    box-sizing: border-box;
    margin: 1rem;

    > header {
      padding: 0.5rem 0.4rem 0.5rem 0.4rem;
      align-items: center;
      justify-content: space-between;
      display: flex;
      height: 2rem;
      color: @text-color;

      > ul {
        order: 2;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        font-size: 0.8rem;
        line-height: 1.2rem;

        > li.create {
          &:before {
            content: "Created: "
          }
        }

        > li.destroy {
          &:before {
            content: "Deleted: "
          }
        }
      }
    }

    > h1 {
      color: darken(@background-color, 40%);
      font-size: 1rem;
      text-align: center;
      background-color: @text-color;
      padding: 0.5rem;
      box-sizing: border-box;
      margin: 0;
    }

    > code {
      background-color: #333;
      color: @text-color;
      border: solid 1px lighten(@text-color, 50%);
      display: block;
      width: 100%;
      overflow: scroll;
      white-space: pre;
      height: 20rem;
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        margin: 0 0 0 0.3rem;
      }

      span.key {
        color: @key-color;
      }

      span.value {
        color: #f8f8f2;
      }
    }

    > select {
      > option {
        &.deleted {
          color: lighten(@text-color, 50%);
          text-decoration: line-through;
        }
      }
    }

    &.active {
      > h1 {
        background-color: @key-color;
        color: @background-color;
        &:after {
          content: " [Active]"
        }
      }
    }
  }
}